<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
  <h2>Chat</h2>
<div class="chat">
  <form id="chat-form">
      <input type="email" id="email" placeholder="Tu Email" required>
      <input type="text" id="texto" placeholder="Cuéntanos algo..." required>
      <input type="submit" value="Enviar">
  </form>

  <div id="messages"> 

  </div>
</div>
</body>
</main>
<%- include('./partials/footer') %> 
</html>